*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
   max-width: 900px;
   margin: 0 auto;
   /* border: 2px solid red; */
  
}

.apply_box{
    max-width:600px;
    padding:20px;
    background-color:white;
    margin:0 auto;
    margin-top:50px;
    box-shadow:4px 3px 4px rgba(1,1,1, 0.1);
    border-radius: 10px;
}

.title-small{
    font-size: 1.2rem;
}

.form_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input,select,textarea{
    padding: 6px 10px;
    border:1px solid #ccc;
    border-radius: 4px;
    font-size: 0.95rem;
}


.textarea_control{
    grid-column:1 /span 2;
}
.textarea_control textarea{
    width: 100%;
}


input ,select,textarea:focus{
    outline-color: red;

}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

}

button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    border-radius: 4px;
    color: rgb(248, 197, 178);
    transition: 0.5s ease-in;
}

button:hover{
    font-weight: bolder;
    background-color: #ccc;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}

@media (max-width:460px){
    .textarea_control{
        grid-column:1 /span 1;
    }
};
